:root {
  --s-tiny: .25rem;
  --s-small: .5rem;
  --s-base: 1rem;
  --s-big: 2rem;
  --s-huge: 3rem;



  --c-gray-light: #EEE;
  --c-background: #F9FAFC;


  --c-goldenrod    : #FFCB70;
  --c-deepblush    : #E8728B;
  --c-melrose      : #9288FF;
  --c-turquoiseblue : #5FE8C8;
  --c-jonquil      : #E9FF9B;


  --c-melrose-light   : #C8C0FF;
  --c-melrose-lighter : #E4DFFF;
  --c-melrose-lightest: #F4F2FF;


}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

html,
.t-monospace {
  font-family: 'Overpass Mono', monospace;
  font-weight: 300;
}

input,
button {
  font-weight: inherit;
}

html,
body,
#root,
.l-app,
app-root {
  min-height: 100vh;
  width: 100vw;
}

.l-app,
app-root,
.l-app__container {
  display: flex;
  flex-direction: column;
}

.l-app__container,
app-board,
.board {
  flex: 1;
}



/*h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Slabo 27px', serif;
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--c-melrose-lightest);
  color: var(--c-melrose);
}

button,
input {
  color: inherit;
}

button {
  background: none;
  border: none;
}


.button-icon {
  color: var(--c-melrose-light);
  line-height: 1;
  font-size: 1.5rem;
  padding: var(--s-small);
  cursor: pointer;
  text-align: center;
  user-select: none;
}

.button-icon:hover {
  color: var(--c-melrose);
}


.board,
app-board {
  display: flex;
  padding: var(--s-base);
}

.board__add-column,
.board__column,
column {
  flex: 1 0;
}

.board__add-column,
.board__add-task {
  font-size: 4rem;
}

.board__column,
column {
  display: flex;
  flex-direction: column;
  padding: var(--s-small) var(--s-small) var(--s-small) 0;
  border-right: var(--s-tiny) dashed var(--c-melrose-lighter);
}

.board__column:not(:last-child),
column:not(:last-child) {
  margin-right: var(--s-small);
}

.board__actions {
  visibility: hidden;
  opacity: 0;
  text-align: right;
}

.board__column:hover .board__actions,
column:hover .board__actions {
  visibility: visible;
  opacity: 1;
}

.board__title {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  cursor: text;
}

.board__title-button {
  visibility: hidden;
  opacity: 0;
}
.board__title.is-editing .board__title-button {
  visibility: visible;
  opacity: 1;
}

.board__title,
.board__title-field {
  border: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  font-family: inherit;
}

.board__title-field {
  flex: 1;
  width: 1%;
  text-align: center;
}

.board__tasks {
  display: flex;
  flex-direction: column;
}

.board__task,
.board__add-task {
  padding: var(--s-base);
}

.board__task {
  background: var(--c-melrose-lightest);
  border: 2px solid var(--c-melrose-lighter);
  min-height: 100px;
  box-sizing: border-box;
}
.board__task:hover {
  background-color: var(--c-melrose-lighter);
  border-color: var(--c-melrose-light);
}

.board__task:not(:first-child),
.board__add-task {
  margin-top: var(--s-base);
}

.board__add-task {
  flex: 1;
}

.board__task-header {
  flex: 1;
  align-items: center;
}

.board__task-header,
.board__task-footer {
  display: flex;
}

.board__task-footer {
  align-items: center;
}

.board__task-actions {
  text-align: right;
}

.board__task-actions,
.board__add-task {
  visibility: hidden;
  opacity: 0;
}

.board__task.is-editing .board__task-actions,
.board__task:hover .board__task-actions,
.board__column:hover .board__add-task,
column:hover .board__add-task  {
  visibility: visible;
  opacity: 1;
  display: block;
}

.board__task-name {
  flex: 1;
  width: 1%;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: text;
}

.board__task-name,
.board__task-name-field {
  border: 0;
  padding: 0;
  font-size: 1.125rem;
  background: transparent;
  font-family: inherit;
}

.board__task-name-field {
  flex: 1;
  text-align: center;
}

.board__task-name-button {
  visibility: hidden;
  opacity: 0;
}

.board__task.is-editing .board__task-name-button {
  visibility: visible;
  opacity: 1;
}

.board__task-assignee {
  display: inline-block;
  border-radius: 50%;
  width: var(--s-big);
  height: var(--s-big);
  margin-right: var(--s-base);
}
